Repository WordPress/theme-experiments, pull requests merged in 2020-01, with the labels that each got.

#5 Create the TwentyTwenty Demo Site using Block Templates
  twentytwenty-blocks/assets/fonts/inter/Inter-italic-var.woff2
  twentytwenty-blocks/assets/fonts/inter/Inter-upright-var.woff2
  twentytwenty-blocks/assets/images/2020-landscape-1.png
  twentytwenty-blocks/assets/images/2020-landscape-2.png
  twentytwenty-blocks/assets/images/2020-square-1.png
  twentytwenty-blocks/assets/images/2020-square-2.png
  twentytwenty-blocks/assets/images/2020-three-quarters-1.png
  twentytwenty-blocks/assets/images/2020-three-quarters-2.png
  twentytwenty-blocks/assets/images/2020-three-quarters-3.png
  twentytwenty-blocks/assets/images/2020-three-quarters-4.png
  twentytwenty-blocks/block-styles.css
  twentytwenty-blocks/block-template-parts/footer.html
  twentytwenty-blocks/block-template-parts/header.html
  twentytwenty-blocks/block-templates/index.html
  twentytwenty-blocks/functions.php
  twentytwenty-blocks/index.php
  twentytwenty-blocks/readme.txt
  twentytwenty-blocks/style.css
  twentytwenty-blocks/twentytwenty-styles/editor-style-block.css
  twentytwenty-blocks/twentytwenty-styles/style.css
  twentytwenty-blocks/twentytwenty.WordPress.2020-01-08.xml
Labels: block-based theme

#6 The Gutenberg Starter Theme as a block-based theme
  gutenberg-starter-theme-blocks/LICENSE
  gutenberg-starter-theme-blocks/block-template-parts/footer.html
  gutenberg-starter-theme-blocks/block-template-parts/header.html
  gutenberg-starter-theme-blocks/block-templates/index.html
  gutenberg-starter-theme-blocks/block-templates/page-blog.html
  gutenberg-starter-theme-blocks/css/blocks.css
  gutenberg-starter-theme-blocks/functions.php
  gutenberg-starter-theme-blocks/index.php
  gutenberg-starter-theme-blocks/readme.txt
  gutenberg-starter-theme-blocks/style.css
Labels: block-based theme, feedback requested

#4 Twenty Nineteen as a Block-based Theme
  twentynineteen-blocks/block-template-parts/footer.html
  twentynineteen-blocks/block-template-parts/header.html
  twentynineteen-blocks/block-templates/index.html
  twentynineteen-blocks/functions.php
  twentynineteen-blocks/index.php
  twentynineteen-blocks/readme.txt
  twentynineteen-blocks/style.css
  twentynineteen-blocks/twentynineteen-styles/style-editor.css
  twentynineteen-blocks/twentynineteen-styles/style.css
Labels: block-based theme, needs testing

#9 Footer jump link
  twentytwenty-blocks/block-template-parts/footer.html
  twentytwenty-blocks/block-template-parts/header.html
Labels: block-based theme, enhancement

#12 Add theme screenshots
  gutenberg-starter-theme-blocks/screenshot.png
  parisienne/screenshot.png
  twentynineteen-blocks/screenshot.png
  twentytwenty-blocks/screenshot.png
Labels: enhancement

#8 Create CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: enhancement

#11 Update README.md
  README.md
Labels: enhancement
