Repository WordPress/theme-experiments, pull requests merged in 2020-12, with the labels that each got.

#81 Try: Define the minimum boilerplate code for a block-based theme
  README.md
  emptytheme/assets/alignments-front.css
  emptytheme/block-template-parts/header.html
  emptytheme/block-templates/index.html
  emptytheme/block-templates/singular.html
  emptytheme/experimental-theme.json
  emptytheme/functions.php
  emptytheme/index.php
  emptytheme/style.css
  new-empty-theme.php
Labels: block-based theme

#106 Add a readme for the emptytheme
  emptytheme/README.md
Labels: enhancement

#93 Twenty Twenty One Blocks: Migrate Paragraph Block styles
  twentytwentyone-blocks/assets/css/style-shared.css
  twentytwentyone-blocks/experimental-theme.json
Labels: block-based theme

#136 Empty Theme: Fix custom spacing entry in theme.json
  emptytheme/experimental-theme.json
Labels: bug

#120 Try: A simple photoblogging theme
  README.md
  photo-blocks/README.md
  photo-blocks/assets/alignments-front.css
  photo-blocks/block-template-parts/footer.html
  photo-blocks/block-template-parts/header.html
  photo-blocks/block-template-parts/post-grid.html
  photo-blocks/block-templates/index.html
  photo-blocks/block-templates/singular.html
  photo-blocks/experimental-theme.json
  photo-blocks/functions.php
  photo-blocks/index.php
  photo-blocks/screenshot.png
  photo-blocks/style.css
Labels: block-based theme

#144 Fix alignment rules
  twentytwentyone-blocks/style.css
Labels: block-based theme

#148 TT1 Blocks: Update alignment rules
  tt1-blocks/style.css
Labels: block-based theme
