Repository WordPress/theme-experiments, pull requests merged in 2021-02, with the labels that each got.

#189 TT1 Blocks: Use line height variable for H1
  tt1-blocks/experimental-theme.json
Labels: enhancement

#205 TT1-Blocks: Fix full width alignment for page-home post content
  tt1-blocks/block-templates/index.html
  tt1-blocks/block-templates/page-home.html
  tt1-blocks/block-templates/page.html
  tt1-blocks/block-templates/single.html
Labels: block-based theme

#219 TT1 blocks: removed font weights/styles from theme.json
  tt1-blocks/experimental-theme.json
Labels: block-based theme

#226 Empty Theme: Update license URI
  emptytheme/style.css
Labels: bug
